* {
	margin: 0;
	padding: 0;
}
.wrap{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}
.content {
	width: 150px;
	border: 1px solid #f00;
	margin-top:20px; 
}
.con_1{	
	height: 120px;	
}
.con_2{
	height: 100px;
}
.con_3{
	height: 40px;
}
.con_4{
	height: 200px;
	border: 1px solid #0f0;
}
@media screen and (max-width: 640px){
	.wrap{
		align-items: flex-start;
	}
	.con_4{
		order: -1;
	}
}